<% include partials/header.ejs%>
<% include partials/main_nav.ejs%>
  
  <!--Main Content -->
  <main>
  <div class="jumbotron">
  <h1 class="display-4"><%= title %></h1>
  <p class="lead">Franz Martin P. Cadiente</p>
  <img src="Assets/images/self.jpg" height ="190" width ="180" class="center">
  <br>
  <br>
  <p class="lead">My name is Franz Martin P. Cadiente and I am currently studying Game Programming in Centennial College. As of the making of this website, I am currently well-versed
    in the languages: C#, Python, Java, Javascript, HTML, and more to come. With this, I am able to create programs and even games with the use of Unity and other programming software.
    I am hard-working and disciplined and I am willing to learn concepts expected by future employers so that I can add new expertise to my skillset.
  </p>
  <br> <br>
  <a class="btn btn-primary btn-lg" href="/Assets/pdfs/resume.pdf" role="button">Resume</a>
  <hr class="my-4">
</div>

  </main>


<% include partials/bottom_nav.ejs%>
<% include partials/footer.ejs%>
 


