<% include partials/header.ejs%>
<% include partials/main_nav.ejs%>
  
  <!--Main Content -->
  <main>
  <div class="jumbotron">
  <h1 class="display-4"><%= title %></h1>
    <hr class="my-4">
      <h1 class="display-5">Franz Cadiente</h1>
   <p class="lead">Email:</p>
    <p class="lead">fcadien1@my.centennialcollege.ca</p>
    <br>
      <p class="lead">Number:</p>
    <p class="lead">437 213-4412</p>

<hr class="my-4">
     <h1 class="display-5">Contact Me</h1>
     <br>
    <form>
      <div class="form-group">
    <label for="exampleInputName1">Full name</label>
    <input type="text" class="form-control" id="exampleInputName1" placeholder="Enter full name">
  </div>
  <div class="form-group">
    <label for="exampleInputEmail1">Email address</label>
    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
  </div>
  <div class="form-group">
    <label for="exampleInputNumber1">Number</label>
    <input type="text" class="form-control" id="exampleInputNumber1" placeholder="Enter number">
  </div>
    <div class="form-group">
    <label for="exampleInputMessage1">Message</label>
    <textarea class="form-control" id="exampleInputMessage1"> </textarea>
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
</div>

  </main>


<% include partials/bottom_nav.ejs%>
<% include partials/footer.ejs%>
 


