<% include partials/header.ejs%>
<% include partials/main_nav.ejs%>
  
  <!--Main Content -->
  <main>
  <div class="jumbotron">
  <h1 class="display-4"><%= title %></h1>
  <p class="lead">Greetings! Learn more about me with these links.</p>
    <p class="lead">
    <a class="btn btn-primary btn-lg" href="/about" role="button"><i class="fas fa-info"></i></a>
    <a class="btn btn-primary btn-lg" href="/projects" role="button"><i class="fas fa-tasks"></i></a>
    <a class="btn btn-primary btn-lg" href="/services" role="button"><i class="fas fa-cogs"></i></a>
    <a class="btn btn-primary btn-lg" href="/contact" role="button"><i class="fas fa-mobile-alt"></i></a>
  </p>
  <hr class="my-4">
  <h2 class="display-5">Personal Mission Statement: </h2>
   <p class="lead">As a student, I aim to learn all that I can about computer programming and game development. To utilize my technical skills to create content
   that is significant to society in terms of value and efficiency. I will 
  make use of technology to create programs that are helpful, accessible, and informative.</p>
</div>

  </main>


<% include partials/bottom_nav.ejs%>
<% include partials/footer.ejs%>
 


