<% include partials/header.ejs%>
<% include partials/main_nav.ejs%>
  
  <!--Main Content -->
  <main>
  <div class="jumbotron">
  <h1 class="display-4"><%= title %></h1>
  <p class="lead">Previous works:</p>
  <img src="Assets/images/gamelevel.PNG"  class="center">
   <br>
   <p class="lead">My current project is a 2D puzzle platforming game I designed called Dazzling Doors that involves find keys for doors that lead to the end of the level.</p>
     <hr class="my-4">
  <br>
  <img src="Assets/images/gamelevel2.PNG"  class="center">
   <br>
    <p class="lead">This is another design of my own called Dragon Attack, another 2D Platformer with it's own set of traps, items, and enemies. </p>
    <hr class="my-4">
  <img src="Assets/images/assets.png"  class="center">
  <br>
  <p class="lead">This is an old 3D project where we were to design 3D models for character concepts. The characters here are the devil, a cowboy, and a horse.</p>

  <hr class="my-4">
</div>

  </main>


<% include partials/bottom_nav.ejs%>
<% include partials/footer.ejs%>
 


