<% include partials/header.ejs%>
<% include partials/main_nav.ejs%>
  
  <!--Main Content -->
  <main>
  <div class="jumbotron">
  <h1 class="display-4"><%= title %></h1>
  <p class="lead">Programming:</p>
  <img src="Assets/images/program.png"  class="center">
   <br>
   <p class="lead">I am capable of coding in the following languages: Python, Java, C#, SQL, Javascript, and HTML.</p>
     <hr class="my-4">
  <br>
  <p class="lead">Game Design:</p>
  <img src="Assets/images/gamedesign.jpg"  class="center">
   <br>
     
    <p class="lead">I am capable of creating 2D games and modelling 3D assets. </p>
    <hr class="my-4">
 
</div>

  </main>


<% include partials/bottom_nav.ejs%>
<% include partials/footer.ejs%>
 


